body {
  font-family: Arial;
  margin: 0;
  background: #111;
  color: #fff;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.hero {
  background: linear-gradient(135deg, #1e90ff, #00c6ff);
}

h1 {
  margin: 0;
  font-size: 36px;
}

h2 {
  margin-bottom: 20px;
}

#game {
  background: #222;
}